<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= curso.nome %></title>
</head>
<body>
    <h1>Detalhes</h1>
    <p>O curso <%= curso.nome %> tem duração de <%= curso.semestres %> semestres, e é coordenado por <%= curso.coordenador %> </p>
</body>
</html>